In [1]:
import sys
import os

project_root = os.path.abspath('..')
if project_root not in sys.path:
    sys.path.append(project_root)
 
%load_ext autoreload
%autoreload 2

In [14]:
import pandas as pd
import numpy as np

import inventario_finanzas_int.funciones_auxiliares as fa

pd.set_option('display.max_columns', None)

In [44]:
RUTA_RAW = "../data/raw/"
RUTA_INDUSTRIAL = (
    RUTA_RAW
    + "EQUIPOS INDUSTRIALES Y DE OFICINA (ALEJANDRO)/CONSOLIDADO BIENES INDUSTRIALES Y DE OFICINA.xlsx"
)
RUTA_EQUIPOS_MEDICOS = (
    RUTA_RAW + "EQUIPOS MEDICOS (RODRIGO)/CONSOLIDADO EQ. MEDICOS REVISADO POR RODRIGO.xlsx"
)
RUTA_MOBILIARIO = (
    RUTA_RAW + "MOBILIARIO (ARIEL)/PLANILLA REGISTRO DE INVENTARIO BIENES DE USO 2025 06022025.xlsx"
)

df_industriales = pd.read_excel(RUTA_INDUSTRIAL)
df_equipos_medicos = pd.read_excel(RUTA_EQUIPOS_MEDICOS)
df_mobiliario = pd.read_excel(RUTA_MOBILIARIO, sheet_name=None)

In [38]:
# Limpia el nombre de las columnas
df_industriales_limpio = fa.clean_column_names(df_industriales)
df_industriales_limpio = df_industriales_limpio.fillna("")

# Limpia las columnas de texto
columnas_texto = df_industriales_limpio.drop(columns="piso").columns
df_industriales_limpio[columnas_texto] = df_industriales_limpio[columnas_texto].apply(
    fa.limpiar_columna_texto
)

# Ordena los datos
df_industriales_limpio = df_industriales_limpio.sort_values(["unidadservicio_clinico", "bien"])

In [41]:
# Limpia el nombre de las columnas
df_mobiliario_limpio = fa.clean_column_names(df_mobiliario)
df_mobiliario_limpio = df_mobiliario_limpio.fillna("")

# Limpia las columnas de texto
columnas_texto = df_mobiliario_limpio.drop(columns="piso").columns
df_mobiliario_limpio[columnas_texto] = df_mobiliario_limpio[columnas_texto].apply(
    fa.limpiar_columna_texto
)

# Ordena los datos
df_mobiliario_limpio = df_mobiliario_limpio.sort_values(["unidadservicio_clinico", "bien"])

In [61]:
dfs = []
for unidad, mobiliario in df_mobiliario.items():
    print(f"Unidad: {unidad}, Columnas: {len(mobiliario.columns)}")
    if unidad == "Esterilizacion":
        mobiliario.columns = mobiliario.iloc[3]
        mobiliario = mobiliario[4:] 

    # Limpia el nombre de las columnas
    df_unidad_mobiliario_limpio = fa.clean_column_names(mobiliario)
    df_unidad_mobiliario_limpio["unidad"] = unidad

    # Cambia de nombre las columnas
    df_unidad_mobiliario_limpio = df_unidad_mobiliario_limpio.rename(
        columns={"correlativo_asignado": "correlativo_2025", "observaciones": "observacion"}
    )

    # Deja solamente las columnas de interes
    columnas_interes = [
        "correlativo_2025",
        "bien",
        "marca",
        "modelo",
        "serie",
        "tipo",
        "unidadservicio_clinico",
        "ubicacion_unidad",
        "propiedad",
        "observacion",
        "unidad"
    ]
    df_unidad_mobiliario_limpio = df_unidad_mobiliario_limpio[columnas_interes]

    dfs.append(df_unidad_mobiliario_limpio)

Unidad: congenitos, Columnas: 13
Unidad: Kinesiologia, Columnas: 13
Unidad: anatomia patologica, Columnas: 13
Unidad: Esterilizacion, Columnas: 13
Unidad: consultorio externo, Columnas: 15
Unidad: ALIVIO DEL DOLOR , Columnas: 13
Unidad: MQ 3° SUR, Columnas: 12
Unidad: MQ 3°NORTE, Columnas: 13
Unidad: UTI 4°SUR , Columnas: 12
Unidad: CIRUGIA DE TORAX , Columnas: 12
Unidad: UTI 4| NORTE, Columnas: 12
Unidad: MQ 4° CARDIOVASCULAR , Columnas: 12
Unidad: UCI 5 NORTE, Columnas: 12
Unidad: UTIM 3 NORTE, Columnas: 12
Unidad: FARMACIA, Columnas: 12
Unidad: BRONCOSCOPIA, Columnas: 12
Unidad: ECOCARDIOGRAFIA, Columnas: 12
Unidad: IMAGENOLOGIA , Columnas: 12
Unidad: HEMODINAMIA, Columnas: 12
Unidad: QUIMIOTERAPIA, Columnas: 12
Unidad: CARDIOCIRUGIA, Columnas: 12
Unidad: PASILLO Y ENTRE ACSENSORES 4 PI, Columnas: 12
Unidad: Admision, Columnas: 13
Unidad: LAVORATORIO, Columnas: 13
Unidad: UMT, Columnas: 13
Unidad: fisiopatologia , Columnas: 13
Unidad: APNEA DEL SUEÑO, Columnas: 12
Unidad: RESIDENCIA 6 PISO , Columnas: 12
Unidad: RESIDENCIA 7 PISO , Columnas: 12

In [62]:
pd.concat(dfs)

,correlativo_2025,bien,marca,modelo,serie,tipo,unidadservicio_clinico,ubicacion_unidad,propiedad,observacion,unidad
0,1499-6132,ESTACION DE TRABAJO,NaN,NaN,NaN,NaN,CONGENITOS,EMO,INT,NaN,congenitos
1,1499-1685,SILLA ESCRITORIO,NaN,NaN,NaN,NaN,CONGENITOS,EMO,INT,NaN,congenitos
2,1499-1633,SILLA ESCRITORIO,NaN,NaN,NaN,NaN,CONGENITOS,EMO,INT,NaN,congenitos
3,1499-6135,LIBRERO,NaN,NaN,NaN,NaN,CONGENITOS,EMO,INT,NaN,congenitos
4,1499-1692,SILLA ESCRITORIO,NaN,NaN,NaN,NaN,CONGENITOS,EMO,INT,NaN,congenitos
...,...,...,...,...,...,...,...,...,...,...,...
49,NaN,CASILLERO METALICO 1 CUERPO 6 MODULOS,NaN,NaN,NaN,NaN,NaN,NaN,INT,NaN,RESIDENCIA 7 PISO
50,NaN,CASILLERO METALICO 1 CUERPO 4 MODULOS,NaN,NaN,NaN,NaN,NaN,NaN,INT,NaN,RESIDENCIA 7 PISO
51,NaN,CASILLERO METALICO 1 CUERPO 6 MODULOS,NaN,NaN,NaN,NaN,NaN,NaN,INT,NaN,RESIDENCIA 7 PISO
52,NaN,SILLA METALICA BASE DE MADERA,NaN,NaN,NaN,NaN,NaN,NaN,INT,NaN,RESIDENCIA 7 PISO
53,NaN,MESA CUADRADA BASE METALICA,NaN,NaN,NaN,NaN,NaN,NaN,INT,NaN,RESIDENCIA 7 PISO